.login-form-input,
.login-button {
  font-size: 0.4em;
}

.login-button {
    margin-top: 2em;
    color: var(--btn-log-color);
    width: 450px;
}
  
.login-button:hover {
    color: var(--btn-txt-hvr-color);
    background: var(--btn-log-color);
}
